* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

.hidden{
    display:none;
}

a:link{
    font-style:underline;
    
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
}

body, html {
    height: 100%;
}

img {
    height: 25px;
    width: 25px;
}

.bg-image {
    background-image: url("https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_1280.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.homePage {
    height: 100vh;
    width: 100vw;
    margin: auto;
}

.homePage h3 {
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 80vw;
    text-align: center;
    font-size:100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px;
}

.homePage h5 {
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 100vw;
    top: 20vh;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;    
    color: white;
    font-weight: bold;
}

.searchBox {
    width: 100vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:inline-flex;
    justify-content: center;
    top: 40vh;
}

.search {
    width: 65vw;
    padding: 8px 10px;
    border: 2px solid gray;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.locEnter {
    padding:15px 15px;
    margin-top:auto;
    text-align:center;
    width:20px;
    margin-bottom:auto;
    background: white;
    border-radius:4px;
    
}
i {
    margin:auto;
    background:white;
    color:deepskyblue;
    position: absolute;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 10px;
    display: block;
    
}

.destination {
    display:none;
    position:relative;
    top:25vh;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.parameterPage {
    height:100vh;
    width:100vw;
    text-align:center;
    
}

.parameterPage .params {
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top:50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px;
    display:flex;
    height:80vh;
    line-height:60px;
    margin-bottom:20px;

    flex-direction: column;
    margin:auto;
    text-align:center;
    
}
.params input {
    margin-left: auto;
    margin-right:auto;
    
}

.paramSubmit{
    background:White;
}

.resultsPage{
    height:100vh;
    width:100vw;
    text-align: center;
    margin:auto;
    
}

.resultsPage .test {
    
    position: relative;
    top:25vh;
    margin-left:auto;
    margin-right:auto;
    background:white;
}

.resultsPage {
    height:100vh;
    position: absolute;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px;  
}

.flightResults {
    display: flex;
    width:65vw;
    height:20vh;
    margin-left:auto;
    margin-right:auto;
    flex-flow: wrap;
    flex-direction: column;
    border:1px solid black;
}

.restaurantResults {
    display: flex;
    width:65vw;
    height:20vh;
    margin-left:auto;
    margin-right:auto;
    flex-flow: wrap;
    flex-direction: column;
    border:1px solid black;
}

.weatherResults {
    display: flex;
    width:65vw;
    height:20vh;
    margin-left:auto;
    margin-right:auto;
    flex-flow: wrap;
    flex-direction: column;
    border:1px solid black;
}

@media only screen and (min-width: 768px) {

    .homePage h3{
        top: 25vh;
        width: 40vw;
    }

    .homePage h5 {

        top: 32vh;

    }

}

