*{
    box-sizing:border-box;
}

body {
    background-color: darkgray;
    height:100vh;
    width:100vw;
}

input {
display: inline-block;
}

.didyoulogin {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Teko', sans-serif;
}

.mainlogo{
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}

.searchbox {
    width:100vw;
    position:absolute;
    top:20vh;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search {
    width:10vw;
    text-align: center;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.locEnter {
    padding-left:5px;
    background-color: white;
}

.destination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    top:35vh;
}

.destination img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
}